flow2.json
[{"id":"8a470668.885558","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c5fc94c5.25cb98","type":"http in","z":"8a470668.885558","name":"Justin","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["5e1bafd9.b9f54"]]},{"id":"9c6ac0fb.02f8d","type":"rpi-gpio in","z":"8a470668.885558","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":560,"wires":[["2910d583.58954a"]]},{"id":"5e1bafd9.b9f54","type":"function","z":"8a470668.885558","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["f54a1540.10a698","dd51445e.45eec8"]]},{"id":"2910d583.58954a","type":"function","z":"8a470668.885558","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":440,"wires":[["f54a1540.10a698"]]},{"id":"f54a1540.10a698","type":"debug","z":"8a470668.885558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":460,"wires":[]},{"id":"dd51445e.45eec8","type":"http response","z":"8a470668.885558","name":"","statusCode":"","headers":{},"x":610,"y":300,"wires":[]}]