flow1.json
[{"id":"154ca254.3d002e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c2704f1c.78d0b","type":"http in","z":"154ca254.3d002e","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["473293ad.db881c","81383cb9.628e"]]},{"id":"473293ad.db881c","type":"function","z":"154ca254.3d002e","name":"Set to1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["2339cc7c.597614"]]},{"id":"2339cc7c.597614","type":"rpi-gpio out","z":"154ca254.3d002e","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":520,"y":640,"wires":[]},{"id":"81383cb9.628e","type":"function","z":"154ca254.3d002e","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["705e4079.5f47d","e243204d.4a1cc"]]},{"id":"705e4079.5f47d","type":"http response","z":"154ca254.3d002e","name":"","statusCode":"","headers":{},"x":810,"y":380,"wires":[]},{"id":"e243204d.4a1cc","type":"debug","z":"154ca254.3d002e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":640,"wires":[]},{"id":"3294b9b.1435746","type":"http in","z":"154ca254.3d002e","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":760,"wires":[["ce3f95d9.8f3d38","d66d7626.9555c8"]]},{"id":"ce3f95d9.8f3d38","type":"function","z":"154ca254.3d002e","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":760,"wires":[["2339cc7c.597614"]]},{"id":"d66d7626.9555c8","type":"function","z":"154ca254.3d002e","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":900,"wires":[["e243204d.4a1cc","705e4079.5f47d"]]}]